{% extends 'base.html.twig' %}

{% block body %}

<div class="container">
    <h3>List</h3>

    {% for row in data %}
    <table class="table">
        <thead>
        <tr>
            <th>Column</th>
            <th>Value</th>
        </tr>
        </thead>
        <tbody>
        {% for column in columns %}
            <tr>
                <td>{{ column.column_name }}</td>
                <td>
                    {% if row[column.column_name] is iterable %}
                        {% for index, value in row[column.column_name] %}
                            {{ index }}: {{ value }} <br />
                        {% endfor %}
                    {% else %}
                        {{ row[column.column_name] }}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <hr>
    {% endfor %}

</div>
{% endblock %}